{% extends 'base.html.twig' %}

{% block content %}

<h1>page pour Admin</h1>

{% endblock %}

 {% block breadcrumb %}
                
                <ul class="breadcrumb">
                    <li><a href="">Tableau de Bord</a></li>&nbsp/&nbsp
                    <li class="active">Liste des Catégories</li>
                </ul>                

        {% endblock %}